<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>AlojarteAqui | Alquiler temporario de apartamentos, casas, posadas, y más.</title>

   <!-- Google Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

   <!-- CSS -->
   <!-- Bootstrap core CSS -->
   <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

   <!-- Font Awesome CSS -->
   <link href="assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
   <!-- Animate css -->
   <link href="assets/css/animate.css" rel="stylesheet" media="screen">
   <!-- Custom styles CSS -->
   <link href="assets/css/style.css" rel="stylesheet" media="screen">
   <!-- Favicons -->
   <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
</head>
<body>

  <!-- Preloader -->
   <div id="preloader">
      <div id="status">
         <div class="status-mes">Loading...</div>
      </div>
   </div>

   <div id="coming-soon" class="home">
      <div class="container">

         <div class="row">

            <div class="col-md-12">
               <h1><img src="assets/images/AA-logo-color-light.png" alt="AlojarteAqui Logo"></h1>
            </div>

            <div class="col-md-8 col-md-offset-2">
               <p style="text-shadow: 2px 2px #444444;">Estamos trabajando para ofrecerte la mejor opción para buscar el alojamiento para tus próximas vacaciones</p>
            </div>

            <div class="col-md-12">
               <div id="countdown"></div>
            </div>

         </div><!-- /.row -->

         <div id="godown" class="scroll-down">
            <a href="#subscribe"><i class="fa fa-angle-down fa-2x"></i></a>
         </div>

      </div><!-- /.container -->
   </div><!-- /.home -->

   <div id="subscribe" class="content content-inverse">
      <div class="container">

         <div class="row">

         	<div class="col-md-12 title">
               <h2>Novedades</h2>
               <p>Puedes dejarnos tu email si quieres ser de los primeros en enterarte sobre nuestras novedades.</p>
            </div>

            <div class="col-md-12">

               <form class="sb-form" role="form">

                  <div class="col-md-9">
                     <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control input-lg" id="email" placeholder="Ingresa tu email">
                     </div>
                  </div>

                  <div class="col-md-3">
                     <button type="submit" class="btn btn-default btn-lg">Suscríbete</button>
                  </div>

               </form>

            </div>

         </div><!-- /.row -->

      </div><!-- /.container -->
   </div><!-- /.content -->


   <div class="content">
      <div class="container">

         <div class="row">

            <div class="col-md-12 title">
               <h2>Sobre AlojarteAqui</h2>
               <p>Próximamente podrás buscar apartamentos, casas, posadas, cabañas para tus vacaciones. Estamos desarrollando nuestro producto para ofrecerte una experiencia única.</p>
            </div>

         </div><!-- /.row -->

         <div class="row">

            <div class="col-md-6">
            	<img src="assets/images/mac.png" alt="about our services">
            </div>

            <div class="col-md-6 services-desc">
            	<h3>Descripción del Servicio</h3>
               <p>Para aquellos que busquen alojamiento vacacional, vamos a ofrecerles un buscador avanzado que permitirá encontrar los mejores apartamentos, casas, posadas, cabañas de la región.</p>
               <p>Si eres dueño de algun tipo de alojamiento, no dudes en <a href="#commments">contactarnos</a> y lo agregaremos a nuestro listado de manera gratuita (por tiempo limitado).</p>
            </div>

         </div><!-- /.row -->

      </div><!-- /.container -->
   </div><!-- /.content -->

   <div class="content content-inverse">
      <div class="container">

         <div class="row">

            <div class="col-md-12 title">
               <h2>Nuestras Ventajas</h2>
               <p>Creemos que tus vacaciones son un momento muy especial, y que deberias empezar a disfrutar la experiencia de viajar desde que empiezas a pensarlas. Por ese motivo estamos construyendo un producto diferente, cómodo, y simple.</p>
            </div>

         </div><!-- /.row -->

         <div class="row">

           <div class="col-md-3 col-sm-6">
              <div class="features">

                 <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                 </span>

                 <h3>Accesibilidad</h3>
                 <p>El 80% de las búsquedas empiezan en un dispositivo móvil, por ese motivo buscamos crear un producto accesible y fácilmente navegable desde un celular o tablet.</p>

              </div>
           </div>

            <div class="col-md-3 col-sm-6">
               <div class="features">

                  <span class="fa-stack fa-3x">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                  </span>

                  <h3>Búsqueda</h3>
                  <p>El exceso de información hace que sea cada vez mas importante la posibilidad de encontrar contenido relevante. Nuestra búsqueda avanzada te permitirá descubrir el alojamiento ideal.</p>

               </div>
            </div>

            <div class="col-md-3 col-sm-6">
               <div class="features">

                  <span class="fa-stack fa-3x">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                  </span>

                  <h3>Contacto</h3>
                  <p>Una vez que hayas identificado el alojamiento de tu interés, podrás comunicarte con el administrador desde un formulario de contacto, teléfono, o chat.<br/><br/></p>

               </div>
            </div>

            <div class="col-md-3 col-sm-6">
               <div class="features">

                  <span class="fa-stack fa-3x">
                     <i class="fa fa-circle fa-stack-2x"></i>
                     <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                  </span>

                  <h3>Comentarios</h3>
                  <p>Al finalizar tu viaje, podrás dejar tus comentarios y evaluación sobre el alojamiento seleccionado. Esto también ayudará a otros visitantes a conocer más y elegir mejor.</p>

               </div>
            </div>

         </div><!-- /.row -->

      </div><!-- /.container -->
   </div><!-- /.content .content-inverse-->

   <div id="commments" class="content">
      <div class="container">

         <div class="row">

            <div class="col-md-12 title">
               <h2>Comentarios</h2>
               <p>Puedes dejarnos tu comentario o consulta desde el siguiente formulario. A su vez, si eres dueño de un alojamiento no dudes en escribirnos para ser parte de nuestro listado.</p>
            </div>

         </div><!-- /.row -->

         <div class="row">

            <form class="contact-form" role="form">

               <div class="col-md-6">

                  <div class="form-group">
                     <label class="sr-only" for="name-contact">Nombre</label>
                     <input type="text" class="form-control input-lg" id="name-contact" placeholder="Nombre">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="email-contact">Email</label>
                     <input type="email" class="form-control input-lg" id="email-contact" placeholder="Email">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="subject">Tema</label>
                     <input type="text" class="form-control input-lg" id="subject" placeholder="Tema">
                  </div>

               </div>

               <div class="col-md-6">
                  <textarea class="form-control input-lg" rows="7" placeholder="Tu mensaje"></textarea>
               </div>

               <div class="col-md-3 col-md-offset-9">
                  <button type="submit" class="btn btn-default btn-lg">Enviar</button>
               </div>

            </form>

         </div><!-- /.row -->

      </div><!-- /.container -->
   </div><!-- /.content -->


   <div class="content content-inverse">
   	<div class="container">

   		<p><img src="assets/images/favicons/favicon-32x32.png" alt="AlojarteAqui Icon"> &nbsp; &copy; 2018 AlojarteAqui<br/> Alquiler temporario de alojamientos</p>

   	</div><!-- /.container -->
   </div><!-- /.content -->


   <!-- Javascript files -->
   <script src="assets/js/jquery-1.11.0.min.js"></script>
   <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
   <script src="assets/js/jquery.backstretch.min.js"></script>
   <script type="text/javascript" src="assets/js/custom.js"></script>

</body>
</html>
