<!DOCTYPE html>
<html>
<head>
  <title>Alojate Aqui!</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">    
  <meta name="description" content="">    
  <meta name="viewport" content="width=device-width, initial-scale=1">   
  <meta name="google" content="notranslate">  
  <meta http-equiv="Content-Language" content="es">  

  {{#if data}}
    <script id='serialized-state'>window.__INITIAL_STATE__ = {{{ data }}};</script>
  {{/if}}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">  
</head>
<body>
  <div id="root">{{{content}}}</div>
    
  {{#if isProduction}} 
    <script src='/build/javascripts/commons.js'></script>
  {{/if}}
  <script src='/build/javascripts/client.js'></script>
    
  {{#if isProduction}}  
    <link rel="stylesheet" href="/build/stylesheets/client.css"></link>
  {{/if}}
</body>
</html>